<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882015127979-8dkseuq1qv71c1i6nqfqhsgmq25ie2pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882015127979-8dkseuq1qv71c1i6nqfqhsgmq25ie2pe</string>
	<key>API_KEY</key>
	<string>AIzaSyD-HzRO7VWP1njeSSAx2zxeoBviQ03M21U</string>
	<key>GCM_SENDER_ID</key>
	<string>882015127979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.z-liya.TestingApp.PhotosEditor</string>
	<key>PROJECT_ID</key>
	<string>photoseditor-15200</string>
	<key>STORAGE_BUCKET</key>
	<string>photoseditor-15200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882015127979:ios:cbd81e30b01dceba012aee</string>
</dict>
</plist>